<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jagratiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".student.StudentProfile"></activity>
        <activity android:name=".StudentHolderActivity" />
        <activity android:name=".student.QuestionsPage" />
        <activity android:name=".QuestionAddPage" />
        <activity android:name=".student.StudentQuizListPage" />
        <activity android:name=".student.StudentHomePage" />
        <activity android:name=".student.StudentLogin" />
        <activity android:name=".QuizListPage" />
        <activity android:name=".QuizClassPage" />
        <activity android:name=".StudentCompleteInfo" />
        <activity android:name=".Group_page" />
        <activity android:name=".Classes_page" />
        <activity
            android:name=".StartPage"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".login_page" />
        <activity android:name=".signup_page" />
        <activity android:name=".VolunteerProfile" />
        <activity android:name=".student.SolutionPage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>